body{
    padding: 0;
    margin: 0;
}

.test{
    width: 980px;
    padding: 50px;
    height: 630px;
    position: absolute;
    background-image: url(/img/map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.test__container{
    transform: translate(-10px, -59px);
    width: 21px;
    height: 69px;
    position: relative;
    left: 0;
    border-radius: 50%;
    background-image: url(/img/girl-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    animation: move10semestr_5 2s alternate forwards linear;
}


@keyframes move1semestr_1{
    0%{
        top: 500px;
        left: 435px;
    }
    30%{
        top: 484px;
        left: 402px;
    }
    40%{
        top: 470px;
        left: 393px;
    }
    50%{
        top: 456px;
        left: 380px;
    }
    60%{
        top: 457px;
        left: 360px;
    }
    
    100%{
        top: 467px;
        left: 332px;
    }

}

@keyframes move1semestr_2{
    0%{
        top: 467px;
        left: 332px;
    }
    50%{
        top: 492px;
        left: 295px;
    }
    100%{
        top: 515px;
        left: 250px;
    }
}

@keyframes move1semestr_3{
    0%{
        top: 515px;
        left: 250px;
    }
    30%{
        top: 528px;
        left: 227px;
    }
    50%{
        top: 532px;
        left: 220px;
    }
    70%{
        top: 537px;
        left: 180px;
    }
    100%{
        top: 536px;
        left: 155px;
    }
}

@keyframes move1semestr_4{
    0%{
        top: 536px;
        left: 155px;
    }
    50%{
        top: 531px;
        left: 115px;
    }
    100%{
        top: 505px;
        left: 69px;
    }
}

@keyframes move1semestr_5{
    0%{
        top: 505px;
        left: 69px;
    }
    25%{
        top: 487px;
        left: 40px;
    }
    55%{
        top: 465px;
        left: 40px;
    }
    80%{
        top: 440px;
        left: 80px;
    }
    100%{
        top: 436px;
        left: 82px;
    }
}

@keyframes move2semestr_1{
    0%{
        top: 436px;
        left: 82px;
    }
    10%{
        top: 430px;
        left: 85px;
    }
    30%{
        top: 416px;
        left: 72px;
    }
    50%{
        left: 400px;
        left: 74px;
    }
    65%{
        top: 390px;
        left: 75px;
    }
    70%{
        top: 388px;
        left: 77px;
    }
    100%{
        top: 374px;
        left: 105px;
    }
}

@keyframes move2semestr_2{
    0%{
        top: 374px;
        left: 101px;
    }
    100%{
        top: 330px;
        left: 184px;
    }
}
@keyframes move2semestr_3{
    0%{
        top: 330px;
        left: 182px;
    }
    20%{
        top: 310px;
        left: 215px;
    }
    40%{
        top: 285px;
        left: 195px;
    }
    60%{
        top: 283px;
        left: 190px;
    }
    80%{
        top: 280px;
        left: 185px;
    }
    100%{
        top: 254px;
        left: 144px;
    }
}

@keyframes move2semestr_4{
    0%{
        top: 254px;
        left: 141px;
    }
    50%{
        top: 219px;
        left: 82px;
    }
    60%{
        top: 207px;
        left: 81px;
    }
    100%{
        top: 195px;
        left: 102px;
    }
}

@keyframes move2semestr_5{
    0%{
        top: 195px;
        left: 100px;
    }
    20%{
        top: 180px;
        left: 130px;
    }
    40%{
        top: 170px;
        left: 120px;
    }
    60%{
        top: 150px;
        left: 115px;
    }
    80%{
        top: 140px;
        left: 150px;
    }
    100%{
        top: 162px;
        left: 171px;
    }
}

@keyframes move3semestr_1{
    0%{
        top: 162px;
        left: 171px;
    }
    80%{
        top: 210px;
        left: 209px;
    }
    100%{
        top: 215px;
        left: 228px;
    }
}
@keyframes move3semestr_2{
    0%{
        top: 215px;
        left: 225px;
    }
    50%{
        top: 205px;
        left: 270px;
    }
    100%{
        top: 172px;
        left: 278px;
    }
}

@keyframes move3semestr_3{
    0%{
        top: 172px;
        left: 273px;
    }
    30%{
        top: 137px;
        left: 260px;
    }
    60%{
        top: 123px;
        left: 260px;
    }
    70%{
        top: 115px;
        left: 270px;
    }
    100%{
        top: 118px;
        left: 315px;
    }
}

@keyframes move3semestr_4{
    0%{
        top: 118px;
        left: 312px;
    }
    15%{
        top: 116px;
        left: 323px;
    }
    30%{
        top: 95px;
        left: 323px;
    }
    50%{
        top: 85px;
        left: 343px;
    }
    100%{
        top: 65px;
        left: 360px;
    }
}

@keyframes move3semestr_5{
    0%{
        top: 67px;
        left: 357px;
    }
    15%{
        top: 60px;
        left: 364px;
    }
    50%{
        top: 10px;
        left: 359px;
    }
    70%{
        top: -10px;
        left: 370px;
    }
    80%{
        top: -15px;
        left: 380px;
    }
    100%{
        top: -13px;
        left: 412px;
    }
}

@keyframes move4semestr_1{
    0%{
        top: -11px;
        left: 410px;
    }
    30%{
        top: 17px;
        left: 450px;
    }
    60%{
        top: 17px;
        left: 505px;
    }
    100%{
        top: 30px;
        left: 507px;
    }
}

@keyframes move4semestr_2{
    0%{
        top: 30px;
        left: 507px;
    }
    20%{
        top: 45px;
        left: 476px;
    }
    55%{
        top: 80px;
        left: 472px;
    }
    100%{
        top: 109px;
        left: 457px;
    }
}

@keyframes move4semestr_3{
    0%{
        top: 113px;
        left: 457px;
    }
    30%{
        top: 130px;
        left: 462px;
    }
    60%{
        top: 150px;
        left: 494px;
    }
    80%{
        top: 185px;
        left: 497px;
    }
    100%{
        top: 190px;
        left: 485px;
    }
}

@keyframes move4semestr_4{
    0%{
        top: 192px;
        left: 485px;
    }
    20%{
        top: 200px;
        left: 474px;
    }
    80%{
        top: 260px;
        left: 467px;
    }
    100%{
        top: 277px;
        left: 454px;
    }
}

@keyframes move5semestr_1{
    0%{
        top: 277px;
        left: 454px;
    }
    100%{
        top: 325px;
        left: 374px;
    }
}

@keyframes move5semestr_2{
    0%{
        top: 328px;
        left: 374px;
    }
    40%{
        top: 357px;
        left: 330px;
    }
    60%{
        top: 370px;
        left: 327px;
    }
    100%{
        top: 397px;
        left: 364px;
    }
}

@keyframes move5semestr_3{
    0%{
        top: 397px;
        left: 364px;
    }
    50%{
        top: 418px;
        left: 414px;
    }
    100%{
        top: 415px;
        left: 448px;
    }
}

@keyframes move5semestr_4{
    0%{
        top: 415px;
        left: 448px;
    }
    100%{
        top: 459px;
        left: 528px;
    }
}

@keyframes move5semestr_5{
    0%{
        top: 459px;
        left: 528px;
    }
    50%{
        top: 505px;
        left: 600px;
    }
    70%{
        top: 506px;
        left: 615px;
    }
    100%{
        top: 496px;
        left: 632px;
    }
}

@keyframes move6semestr_1{
    0%{
        top: 496px;
        left: 632px;
    }
    10%{
        top: 476px;
        left: 640px;
    }
    20%{
        top: 470px;
        left: 660px;
    }
    40%{
        top: 480px;
        left: 680px;
    }
    60%{
        top: 510px;
        left: 700px;
    }
    80%{
        top: 520px;
        left: 720px;
    }
    100%{
        top: 520px;
        left: 738px;
    }
}

@keyframes move6semestr_2{
    0%{
        top: 520px;
        left: 738px;
    }
    100%{
        top: 463px;
        left: 843px;
    }
}

@keyframes move6semestr_3{
    0%{
        top: 463px;
        left: 843px;
    }
    70%{
        top: 420px;
        left: 900px;
    }
    100%{
        top: 410px;
        left: 925px;
    }
}

@keyframes move6semestr_4{
    0%{
        top: 410px;
        left: 925px;
    }
    100%{
        top: 367px;
        left: 995px;
    }
}

@keyframes move6semestr_5{
    0%{
        top: 367px;
        left: 995px;
    }
    10%{
        top: 365px;
        left: 1005px;
    }
    50%{
        top: 325px;
        left: 1019px;
    }
    100%{
        top: 291px;
        left: 1009px;
    }
}

@keyframes move7semestr_1{
    0%{
        top: 291px;
        left: 1009px;
    }
    50%{
        top: 255px;
        left: 975px;
    }
    100%{
        top: 260px;
        left: 945px;
    }
}

@keyframes move7semestr_2{
    0%{
        top: 260px;
        left: 945px;
    }
    100%{
        top: 304px;
        left: 878px;
    }
}

@keyframes move7semestr_3{
    0%{
        top: 304px;
        left: 878px;
    }
    100%{
        top: 343px;
        left: 813px;
    }
}

@keyframes move7semestr_4{
    0%{
        top: 343px;
        left: 813px;
    }
    50%{
        top: 355px;
        left: 785px;
    }
    100%{
        top: 333px;
        left: 744px;
    }
}

@keyframes move7semestr_5{
    0%{
        top: 333px;
        left: 744px;
    }
    40%{
        top: 300px;
        left: 715px;
    }
    55%{
        top: 280px;
        left: 725px;
    }
    100%{
        top: 270px;
        left: 750px;
    }
}

@keyframes move7semestr_6{
    0%{
        top: 270px;
        left: 750px;
    }
    100%{
        top: 228px;
        left: 829px;
    }
}

@keyframes move8semestr_1{
    0%{
        top: 228px;
        left: 829px;
    }
    50%{
        top: 183px;
        left: 855px;
    }
    100%{
        top: 152px;
        left: 840px;
    }
}

@keyframes move8semestr_2{
    0%{
        top: 152px;
        left: 840px;
    }
    50%{
        top: 135px;
        left: 805px;
    }
    100%{
        top: 139px;
        left: 778px;
    }
}

@keyframes move8semestr_3{
    0%{
        top: 139px;
        left: 778px;
    }
    100%{
        top: 181px;
        left: 697px;
    }
}

@keyframes move8semestr_4{
    0%{
        top: 181px;
        left: 697px;
    }
    60%{
        top: 212px;
        left: 643px;
    }
    100%{
        top: 224px;
        left: 637px;
    }
}

@keyframes move8semestr_5{
    0%{
        top: 224px;
        left: 637px;
    }
    50%{
        top: 255px;
        left: 633px;
    }
    95%{
        top: 280px;
        left: 593px;
    }
    100%{
        top: 280px;
        left: 590px;
    }
}

@keyframes move8semestr_6{
    0%{
        top: 280px;
        left: 590px;
    }
    50%{
        top: 278px;
        left: 550px;
    }
    100%{
        top: 260px;
        left: 527px;
    }
}

@keyframes move9semestr_1{
    0%{
        top: 260px;
        left: 527px;
    }
    50%{
        top: 230px;
        left: 505px;
    }
    100%{
        top: 200px;
        left: 510px;
    }
}

@keyframes move9semestr_2{
    0%{
        top: 200px;
        left: 510px;
    }
    50%{
        top: 165px;
        left: 525px;
    }
    100%{
        top: 132px;
        left: 550px;
    }
}

@keyframes move9semestr_3{
    0%{
        top: 132px;
        left: 550px;
    }
    100%{
        top: 99px;
        left: 599px;
    }
}

@keyframes move9semestr_4{
    0%{
        top: 99px;
        left: 601px;
    }
    20%{
        top: 85px;
        left: 635px;
    }
    40%{
        top: 69px;
        left: 655px;
    }
    60%{
        top: 60px;
        left: 635px;
    }
    100%{
        top: 35px;
        left: 627px;
    }
}

@keyframes move9semestr_5{
    0%{
        top: 35px;
        left: 627px;
    }
    50%{
        top: 0px;
        left: 635px;
    }
    100%{
        top: -21px;
        left: 665px;
    }
}

@keyframes move9semestr_6{
    0%{
        top: -21px;
        left: 665px;
    }
    25%{
        top: -24px;
        left: 685px;
    }
    55%{
        top: -18;
        left: 710px;
    }
    100%{
        top: 11px;
        left: 720px;
    }
}

@keyframes move10semestr_1{
    0%{
        top: 11px;
        left: 720px;
    }
    25%{
        top: 33px;
        left: 720px;
    }
    50%{
        top: 53px;
        left: 685px;
    }
    75%{
        top: 88px;
        left: 676px;
    }
    100%{
        top: 95px;
        left: 692px;
    }
}

@keyframes move10semestr_2{
    0%{
        top: 95px;
        left: 692px;
    }
    25%{
        top: 95px;
        left: 708px;
    }
    50%{    
        top: 63px;  
        left: 725px;
    }
    75%{    
        top: 35px;
        left: 765px;
    }
    100%{
        top: 33px;
        left: 780px;
    }
}

@keyframes move10semestr_3{
    0%{
        top: 33px;
        left: 780px;
    }
    10%{
        top: 37px;
        left: 800px;
    }
    60%{
        top: 63px;
        left: 850px;
    }
    80%{
        top: 84px;
        left: 840px;
    }
    100%{
        top: 95px;
        left: 855px;
    }
}

@keyframes move10semestr_4{
    0%{
        top: 95px;
        left: 855px;
    }
    20%{
        top: 99px;
        left: 870px;
    }
    85%{
        top: 63px;
        left: 895px;
    }
    100%{
        top: 57px;
        left: 905px;
    }
}

@keyframes move10semestr_5{
    0%{
        top: 57px;
        left: 905px;
    }
    25%{
        top: 56px;
        left: 935px;
    }
    50%{
        top: 77px;
        left: 936px;
    }
    75%{
        top: 95px;
        left: 905px;
    }
    100%{
        top: 130px;
        left: 925px;
    }
}